{% extends 'base.html.twig' %}
{% block title %}Direct Messages{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/directMessages.css') }}">
    <script>
        const supabaseKey = '{{ supabaseKey }}';
    </script>
    <script src="{{ asset('js/directMessages.js') }}"></script>
{% endblock %}
{% block body %}
    <main>
        <div class="message-users">
            <div>
                <p>Direct</p>
                <img src="{{ asset('img/new-message.svg') }}" alt="Hola">
            </div>
            <div class="type-messages">
                <p class="active">PRIMARY</p>
                <p>GENERAL</p>
            </div>
            <div class="message-user-item">
                {{ include('partials/_message-user-item.html.twig',{'conversations':conversations, 'notifications':notifications}) }}
            </div>
        </div>
        <div class="message-item">
            {% if conversations %}
            <div class="message-item-user-info" data-id="{{ conversations[0].id }}">
                <img src="{{ conversations[0].photo }}" alt="profile-pic">
                <p>{{ conversations[0].username }}</p>
            </div>
            {% else %}
            <div class="message-item-user-info">
            </div>
            {% endif %}
            <div class="messagesUl messages">
                <p>SIN CONVERSACIONES</p>
            </div>
            <div class="send-messages">
                <input type="text" placeholder="Message">
                <img src="{{ asset('img/send-button.svg') }}"/>
            </div>
        </div>
    </main>
    <div class="formulario-post" id="formPost">
    </div>
{% endblock %}