{% extends 'base.html.twig' %}
{% block title %}Notifications{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/notification.css') }}">
{% endblock %}
{% block body %}
<main class="notification-main">
    <ul class="notification-main">
        <li>
            <div class="container-notification">
                <img class="profile-pic-notification" src="{{ asset('img/mondongo.jpg') }}">
                <a href="#">Darius</a>
                <p> liked your post.</p>
            </div>
            <img class="post-pic-notification" src="{{ asset('img/naruto.jpeg') }}">
        </li>
        <li>
            <div class="container-notification">
                <img class="profile-pic-notification" src="{{ asset('img/mondongo.jpg') }}">
                <a href="#">Darius</a>
                <p> commented your post: "Hola que tal"</p>
            </div>
            <img class="post-pic-notification"  src="{{ asset('img/naruto.jpeg') }}">
        </li>
        <li></li>
        <li></li>
    </ul>
</main>
{% endblock %}