{% extends 'base.html.twig' %}
{% block title %}Notifications{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/notification.css') }}">
{% endblock %}
{% block body %}
<main class="notification-main">
    <ul class="notification-main">
        {% for notification in notifications %}
            {% if notification.generatedNotifyBy != app.user %}
            <li>
                <div class="container-notification">
                    <img class="profile-pic-notification" src="{{ notification.generatedNotifyBy.photo }}">
                    <a href="/profile/{{ notification.generatedNotifyBy.username }}">{{ notification.generatedNotifyBy.username }}</a>
                    {% if notification.type == 'like' %}
                    <p> liked your post.</p>
                    {% else %}
                    <p> commented: "{{ notification.contentComment }}" on your post.</p>
                    {% endif %}
                </div>
                <img class="post-pic-notification" src="{{ notification.post.photo }}">
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</main>
{% endblock %}