{% extends 'base.html.twig'%}
{% block title %}Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <script src="{{ asset('js/profile.js') }}"></script>
{% endblock %}
{% block body %}
    <main>
        <div id="content">
            <div id="profile">
                <img src="{{ user.photo }}" id="narutoProfilePic" draggable="false" loading="lazy">
                <div class="profile-data">
                    <div id="profile-options" class="profile-options">
                        <p id="profile-name" data-sender-id="{{ app.user.id }}" data-id="{{ user.id }}">{{ user.username }}</p>
                        <p id="profile-send-message">send a message</p>
                        {% if user.id != app.user.id %}
                            {% if isFollowing %}
                                <img id="unfollowed" src="{{ asset("img/unfollowed.svg") }}" alt="Seguir" class="hide">
                                <img id="followed" src="{{ asset("img/followed.svg") }}" alt="Siguiendo">
                            {% else %}
                                <img id="unfollowed" src="{{ asset("img/unfollowed.svg") }}" alt="Seguir">
                                <img id="followed" src="{{ asset("img/followed.svg") }}" alt="Siguiendo" class="hide">
                            {% endif %}
                        {% endif %}
                        <div class="modify-profile">
                            <img id="more-options" src="{{ asset("img/more-options.svg") }}">
                            {% if user.id == app.user.id %}
                                <div class="dropdown-content">
                                    <a href="#cambiarFoto" id="change-photo">Cambiar foto del perfil</a>
                                    <a href="#cambiarNombre" id="change-name">Cambiar nombre del perfil</a>
                                    <a href="#cambiarDescripcion" id="change-description">Cambiar descripcion del perfil</a>
                                </div>
                            {% endif %}
                        </div>
                        {% if user.id == app.user.id %}
                            <div id="modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2 id="modal-title"></h2>
                                    <div id="formulario">
                                        {{ form_start(formulario) }}
                                        {{ form_widget(formulario.photo) }}
                                        {{ form_end(formulario) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <img id="three-dots" src="{{ asset("img/three-dots.svg") }}" loading="lazy">
                    </div>
                    <div class="followers">
                        <p>{{ posts|length }} Posts</p>
                        <p id="followers">{{ user.getFollower|length }} Followers</p>
                        <p>{{ user.getFollowing|length }} Following</p>
                    </div>
                    <div class="description">
                        <p>{{ user.description }}</p>
                    </div>
                </div>
            </div>

            <div id="publicaciones-container">
                <p id="publicaciones-title" class="active">PUBLICACIONES</p>
                <p id="guardados">GUARDADOS</p>
            </div>
            <div id="publicaciones" class="publicaciones">
                {% for post in posts %}
                    <div>
                        <img class="foto" src="{{ post.photo }}" loading="lazy">
                    </div>
                {% endfor %}
            </div>

            <div id="publicaciones-guardadas" class="publicaciones">
                {% for savedPost in savedPosts %}
                    <img class="foto 1" src="{{ savedPost.photo }}">
                {% endfor %}
            </div>

        </div>

    </main>
    <div class="formulario-post" id="formPost">
    </div>

{% endblock %}