{% extends 'base.html.twig'%}
{% block title %}Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}
{% block body %}
    <main>
        <div id="content">
            <div id="profile">
                <img src="{{ asset("img/" ~ user.photo)  }}" id="narutoProfilePic" draggable="false">
                <div class="profile-data">
                    <div id="profile-options" class="profile-options">
                        <p id="profile-name" data-id="{{ user.id }}">{{ user.username }}</p>
                        <p id="profile-send-message">send a message</p>
                        {% if user.id != app.user.id %}
                            <img id="unfollowed" src="{{ asset("img/unfollowed.svg") }}" alt="Seguir">
                            <img id="followed" class="hide" src="{{ asset("img/followed.svg") }}" alt="Seguir">
                        {% endif %}
                        <img src="{{ asset("img/more-options.svg") }}">
                        <img id="three-dots" src="{{ asset("img/three-dots.svg") }}">
                    </div>
                    <div class="followers">
                        <p>1,132 Posts</p>
                        <p>60K Followers</p>
                        <p>4 Following</p>
                    </div>
                    <div class="description">
                        <p>{{ user.description }}</p>
                    </div>
                </div>
            </div>
            <div id="publicaciones-container">
                <p id="publicaciones-title" class="active">PUBLICACIONES</p>
                <p id="guardados">GUARDADOS</p>
            </div>
            <div id="publicaciones" class="publicaciones">
                <img class="foto 1" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 2" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 3" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 4" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 5" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 6" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 7" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 8" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 9" src="{{ asset("img/naruto-meme.jpeg") }}">
            </div>
            <div id="publicaciones-guardadas" class="publicaciones">
                <img class="foto 1" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 2" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 3" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 4" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 5" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 6" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 7" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 8" src="{{ asset("img/naruto-meme.jpeg") }}">
                <img class="foto 9" src="{{ asset("img/naruto-meme.jpeg") }}">
            </div>
        </div>
    </main>
    <div class="formulario-post hide" id="formPost">
    </div>
{% endblock %}