<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/story.js') }}"></script>
    <link rel="stylesheet" href="{{asset('css/story.css')}}">
</head>
<body>
<div class="story-menu">
    <a href="{{ path('index') }}">Salir</a>
</div>
<div class="story-main-content" data-id="{{ user.id }}" data-index="{{ storyUserIndex }}">
    <div class="story-container">
        {# Historia anterior de otro usuario #}
        {% if previousStory %}
            <div class="story-left">
                <div class="story-name-photo">
                    <img src="{{ previousStory.userStory.photo }}">
                    <p>{{ previousStory.userStory.username }}</p>
                </div>
                <div class="story blurred">
                    <img src="{{ previousStory.imageStory }}" alt="story">
                </div>
            </div>
            <div class="button previous">
                <img src="{{ asset('img/previous-button.svg') }}">
            </div>
        {% else %}
            <div class="story-left" style="display: none">
                <div class="story-name-photo">
                    <img src="{{ user.photo }}">
                    <p>{{ user.username }}</p>
                </div>
                <div class="story blurred">
                    <img src="{{ allStories[storyUserIndex].imageStory }}" alt="story">
                </div>
            </div>
            <div class="button previous" style="display: none">
                <img src="{{ asset('img/previous-button.svg') }}">
            </div>
        {% endif %}


        <div class="story-center">
            <div class="storiesLine">
                {% for story in stories %}
                <hr>
                {% endfor %}
            </div>

            <div class="story-name-photo">
                <img src="{{ user.photo }}">
                <p>{{ user.username }}</p>
            </div>
            <div class="story">
                <img src="{{ allStories[storyUserIndex].imageStory }}" alt="story">
            </div>
        </div>

        {% if nextStory %}
            <div class="button next">
                <img src="{{ asset('img/next-button.svg') }}">
            </div>
            <div class="story-right">
                <div class="story-name-photo">
                    <img src="{{ nextStory.userStory.photo }}">
                    <p>{{ nextStory.userStory.username }}</p>
                </div>
                <div class="story blurred">
                    <img src="{{ nextStory.imageStory }}" alt="story">
                </div>
            </div>
        {% else %}
            <div class="button next" style="display: none">
                <img src="{{ asset('img/next-button.svg') }}">
            </div>
            <div class="story-right" style="display: none">
                <div class="story-name-photo">
                    <img src="{{ user.photo }}">
                    <p>{{ user.username }}</p>
                </div>
                <div class="story blurred">
                    <img src="{{ allStories[storyUserIndex].imageStory }}" alt="story">
                </div>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>