<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/story.js') }}"></script>
    <link rel="stylesheet" href="{{asset('css/story.css')}}">
</head>
<body>
<div class="story-menu">
    <a href="{{ path('index') }}">Salir</a>
</div>
<div class="story-main-content" data-id="{{ user.id }}">
    <div class="story-container">
        <div class="story-left">
            <div class="story-name-photo">
                <img src={{ user.photo }}>
                <p>{{ user.username }}</p>
            </div>
            <div class="story blurred">
                <img src="{{ asset('img/playa-1.jpg') }}" alt="playa">
            </div>
        </div>
        <div class="button previous">
            <img src="{{ asset('img/previous-button.svg') }}">
        </div>
        <div class="story-center">
            <div class="story-name-photo">
                <img src={{ user.photo }}>
                <p>{{ user.username }}</p>
            </div>
            <div class="story">
                <img src="{{ currentStory }}" alt="playa">
            </div>
        </div>
        <div class="button next">
            <img src="{{ asset('img/next-button.svg') }}">
        </div>
        <div class="story-right">
            <div class="story-name-photo">
                <img src={{ user.photo }}>
                <p>{{ user.username }}</p>
            </div>
            <div class="story blurred">
                <img src="{{ asset('/img/playa-3.jpg') }}" alt="playa">
            </div>
        </div>
    </div>
</div>
</body>
</html>