<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/register.js') }}"></script>
</head>
<body>
<div id="allContent">
    <header>
        <img id="instagram-logo" src="{{ asset('img/instagram.svg') }}">
    </header>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username)}}
        {{ form_row(registrationForm.password)  }}
        <button id="register-button" type="submit" class="login-button" disabled>Register</button>
    {{ form_end(registrationForm) }}
    <div class="signup-prompt">
        Already have an account? <a href="{{ path('login') }}">Sign in</a>
    </div>
</div>
</body>
