<article class="modal hide" id="commentModal">
    <div class="modal-image">
        <img src="{{ post.photo }}" alt="">
    </div>
    <div class="modal-comments">
        <div>
            <div class="post-user-up">
                <div class="user-info">
                    <img src="{{ post.user.photo }}" alt="user-image">
                    <p>{{ post.user.username }}</p>
                </div>
                <button>...</button>
            </div>
            <div class="comments-box">
                {% if comments %}
                {% for comment in comments %}
                <div class="comment-item">
                    <div>
                        <img src="{{ comment.user.photo }}" alt="user-image">
                        <p class="username">{{ comment.user.username }}</p>
                        <p class="comment-text">{{ comment.text }}</p>
                    </div>
                    <img src="img/post-like.svg" alt="like-icon">
                </div>
                {% endfor %}
                {% else %}
                <div class="comment-item">
                    <p>SIN COMENTARIOS</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="post-options">
                <div class="post-option">
                    <a href="#"><img src="img/post-like.svg" alt="like"></a>
                    <a href="#"><img src="img/post-share.svg" alt="share" class="share"></a>
                </div>
                <div class="post-option-save">
                    <a href="#"><img src="img/post-save.svg" alt="save"></a>
                </div>
            </div>
            <div class="likes-description">
                <p>Liked by <span>you</span> and <span>10 others</span></p>
                <p class="time">HOUR AGO</p>
            </div>
            <div class="post-comment">
                <div>
                    <a href="#" class="emoji"><img src="img/post-emoji-icon.svg" alt="emoji-icon">
                    </a>
                    <input type="text" placeholder="Add a comment..." class="comment-input">
                </div>
                <button class="publish" disabled>Publish</button>
            </div>
        </div>
    </div>
</article>