<article class="modal" id="commentModal">
    <div class="modal-image">
        <img src="data:image/jpeg;base64,{{ image }}" alt="" loading="lazy">
    </div>
    <div class="modal-comments">
        <div>
            <div class="post-user-up">
                <div class="user-info">
                    <img src="data:image/jpeg;base64,{{ userImage }}" alt="user-image" loading="lazy">
                    <p>{{ post.user.username }}</p>
                </div>
                <button>...</button>
            </div>
            <div class="comments-box">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment-item">
                            <div>
                                <img src="data:image/jpeg;base64,{{ commentPhoto[comment.id] }}" alt="user-image" loading="lazy">
                                <p class="username">{{ comment.user.username }}</p>
                                <p class="comment-text">{{ comment.text }}</p>
                            </div>
                            <img src="img/post-like.svg" alt="like-icon" loading="lazy">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="comment-item comment-item-whithout-comment">
                        <p>SIN COMENTARIOS</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="post-options">
                <div class="post-option">
                    {% if post.likedBy.contains(app.user) %}
                        <a href="" class="likedPost" id="{{ post.id }}"><img src="{{ asset('img/post-like-liked.svg') }}" alt="like" loading="lazy" class="lazy-load imgLike"></a>
                    {% else %}
                        <a href="" class="unlikedPost" id="{{ post.id }}"><img src="{{ asset('img/post-like.svg') }}" alt="like" loading="lazy" class="lazy-load imgLike"></a>
                    {% endif%}
                    <a href="#"><img src="img/post-share.svg" alt="share" class="share" loading="lazy"></a>
                </div>
                <div class="post-option-save">
                    <a href="#"><img src="img/post-save.svg" alt="save" loading="lazy"></a>
                </div>
            </div>
            <div class="likes-description">
                {% set totalLikes = post.getLikedBy|length %}
                {% set likedByYou = post.likedBy.contains(app.user) %}
                {% set othersLikes = likedByYou ? totalLikes - 1 : totalLikes %}


                {% if likedByYou %}
                    {% if othersLikes > 0 %}
                        <p class="likeMessage">Liked by <span>you</span> and <span class="likesByOthers">{{ othersLikes }} others</span></p>
                    {% else %}
                        <p class="likeMessage">Liked by <span>you</span></p>
                    {% endif %}
                {% else %}
                    <p class="likeMessage">Liked by <span class="likesByOthers">{{ totalLikes }} people</span></p>
                {% endif %}
                <p class="time">HOUR AGO</p>
            </div>
            <div class="post-comment">
                <div data-id="{{ post.id }}">
                    <a href="#" class="emoji"><img src="img/post-emoji-icon.svg" alt="emoji-icon" loading="lazy">
                    </a>
                    <input type="text" placeholder="Add a comment..." class="comment-input">
                    <button class="publish" disabled>Publish</button>
                </div>
            </div>
        </div>
    </div>
</article>