<header>
    <div id="nav-bar">
        <img id="instagram-logo" src="{{ asset('img/instagram.svg') }}" alt="instagram-logo" loading="lazy">
        <div id="search">
            <img src="{{ asset('img/search-icon.svg') }}" loading="lazy" alt="search-icon" class="search-icon">
            <form id="formSearchUsers">
                <input type="text" placeholder="Search" name="username" id="username">
            </form>
        </div>
        <ul class="icon-logos">
            <li><a href="{{ path('index') }}" class={{(app.request.attributes.get('_route') == 'index')  ? 'active': ''}}><img src="{{ asset('img/home.svg') }}" alt="home" loading="lazy"></a></li>
            <li><a href="{{ path('direct_messages') }}" class={{(app.request.attributes.get('_route') == 'direct_messages')  ? 'active': ''}}><img src="{{ asset('img/direct-messages.svg') }}" loading="lazy" alt="direct-messages"></a></li>
            <li><a href="" id="enlace-crear"><img src="{{ asset('img/create-post.svg') }}" alt="create-post" loading="lazy" id="create-post"></a></li>
            <li><a href=""><img src="{{ asset('img/like-notification.svg') }}" alt="like-notification" loading="lazy"></a></li>
            <li><a href="/profile/{{app.user.username}}"><img src="{{ app.user.photo }}" alt="profil-pic" class="profil-pic" loading="lazy"></a></li>
        </ul>
        <div id="logout">
            <a href="{{ path('app_logout') }}"><img src="{{ asset('img/log-out.svg') }}" loading="lazy" /></a>
        </div>

    </div>
</header>