{% for post in posts %}
    <article class="post-box" id="post-{{ post.id }}">
        <div class="post-user-up">
            <div>
                <a href="/profile/{{ post.user.username }}">
                    <img data-src="data:image/jpeg;base64,{{ profileImage[post.user.id] }}" alt="image" class="lazy-load" loading="lazy">
                </a>
                <p>{{ post.user.username }}</p>
            </div>
            <button class="deleteImage" data-id="{{ post.id }}">...
                {% if app.user.id == post.user.id %}
                    <a href="" class="hide delete-anchor" data-id="{{ post.id }}">Delete image</a>
                {% endif %}
            </button>
        </div>
        <div class="post-item">
            <img data-src="data:image/jpeg;base64,{{ images[post.id] }}" alt="image" class="lazy-load" loading="lazy">
            <div class="post-options">
                <div class="post-option">
                    {% if isLikedByUser[post.id] %}
                        <a href="" class="likedPost" id="{{ post.id }}"><img loading="lazy" data-src="img/post-like-liked.svg" alt="like" class="lazy-load imgLike"></a>
                    {% else %}
                        <a href="" class="unlikedPost" id="{{ post.id }}"><img loading="lazy" data-src="img/post-like.svg" alt="like" class="lazy-load imgLike"></a>
                    {% endif%}
                    <a href="" class="comment" id="{{ post.id }}"><img loading="lazy" data-src="img/post-comment.svg" alt="comment" class="lazy-load"></a>
                    <a href=""><img loading="lazy" data-src="img/post-share.svg" alt="share" class="share lazy-load" ></a>
                </div>
                <div class="post-option-save">
                    {% if isSavedByUser[post.id] %}
                        <a href="" class="savedPost" id="{{ post.id }}"><img loading="lazy" data-src="img/post-save-saved.svg" alt="" class="lazy-load imgSave"></a>
                    {% else %}
                        <a href="" class="unsavedPost" id="{{ post.id }}"><img loading="lazy" data-src="img/post-save.svg" alt="" class="lazy-load imgSave"></a>
                    {% endif %}
                </div>
            </div>
            <div class="likes-description">
                {% set totalLikes = post.likedBy|length %}
                {% set likedByYou = isLikedByUser[post.id] %}
                {% set othersLikes = likedByYou ? totalLikes - 1 : totalLikes %}


                {% if likedByYou %}
                    {% if othersLikes > 0 %}
                        <p class="likeMessage">Liked by <span>you</span> and <span class="likesByOthers">{{ othersLikes }} others</span></p>
                    {% else %}
                        <p class="likeMessage">Liked by <span>you</span></p>
                    {% endif %}
                {% else %}
                    <p class="likeMessage">Liked by <span class="likesByOthers">{{ totalLikes }} people</span></p>
                {% endif %}

                <p>{{ post.description }}</p>
                {% if comments[post.id] is defined %}
                    <a href="" class="view-comments">View all {{ comments[post.id] }} comments</a>
                {% else %}
                    <a href="" class="view-comments">View all 0 comments</a>
                {% endif %}
                <p class="time">{{ timeElapsed[post.id] }}</p>
            </div>
        </div>
        <div class="post-comment">
            <div data-id="{{ post.id }}">
                <a href="" class="emoji"><img loading="lazy" data-src="img/post-emoji-icon.svg" alt="emoji-icon" class="lazy-load"></a>
                <input type="text" placeholder="Add a comment..." class="comment-input">
                <button class="publish" disabled>Publish</button>
            </div>
        </div>
    </article>
{% endfor %}