{% for post in posts %}
<article class="post-box" id="post-{{ post.id }}">
    <div class="post-user-up">
        <div>
            <a href="/profile/{{ post.user.username }}">
                <img data-src="{{ asset('img/' ~ post.user.photo) }}" alt="image" class="lazy-load">
            </a>
            <p>{{ post.user.username }}</p>
        </div>
        <button class="deleteImage" data-id="{{ post.id }}">...
            {% if app.user == post.user %}
                <a href="" class="hide delete-anchor" data-id="{{ post.id }}">Delete image</a>
            {% endif %}
        </button>
    </div>
    <div class="post-item">
        <img data-src="{{ asset('img/posts/' ~ post.photo) }}" alt="image" class="lazy-load">
        <div class="post-options">
            <div class="post-option">
                <a href=""><img data-src="img/post-like.svg" alt="like" class="lazy-load"></a>
                <a href="" class="comment"><img data-src="img/post-comment.svg" alt="comment" class="lazy-load"></a>
                <a href=""><img data-src="img/post-share.svg" alt="share" class="share lazy-load" ></a>
            </div>
            <div class="post-option-save">
                <a href=""><img data-src="img/post-save.svg" alt="" class="lazy-load"></a>
            </div>
        </div>
        <div class="likes-description">
            <p>Liked by <span>you</span> and <span>10 others</span></p>
            <p>{{ post.description }}</p>
            <a href="" class="view-comments">View all 103 comments</a>
            <p class="time">HOUR AGO</p>
        </div>
    </div>
    <div class="post-comment">
        <div>
            <a href="" class="emoji"><img data-src="img/post-emoji-icon.svg" alt="emoji-icon" class="lazy-load"></a>
            <input type="text" placeholder="Add a comment..." class="comment-input">
        </div>
        <button class="publish" disabled>Publish</button>
    </div>
</article>
{% endfor %}