<div class="stories">
<div class="my-storie storie-item" id="create-story">
    <div>
        <a href=""><img src="data:image/jpeg;base64,{{ profileImage[app.user.id] }}" alt="Me"></a>
    </div>
    <p>
        Your Story
    </p>
</div>
{% if stories %}
{% set displayedUsers = [] %}
{% for story in stories %}
    {% if story.userStory.username not in displayedUsers %}
    {% set displayedUsers = displayedUsers | merge([story.userStory.username]) %}
    <div class="other-storie storie-item" data-id="{{ story.userStory.id }}">
        <div>
            <a href="/story/{{ story.userStory.id }}"><img src="{{ story.userStory.photo }}" alt="maniscus"></a>
        </div>
        <p>
            {{ story.userStory.username }}
        </p>
    </div>
    {% endif %}
{% endfor %}
{% endif %}