<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form_post.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
{{ render(controller('App\\Controller\\IndexController::renderNavigation')) }}
{% block body %}
{% endblock %}
{{ include('partials/_emoji-modal.html.twig') }}
</body>
</html>