<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form_post.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
{{ include('partials/_navigation.html.twig') }}
{% block body %}{% endblock %}
{{ include('partials/_emoji-modal.html.twig') }}
{{ include('partials/_comment-modal.html.twig') }}

    <div class="formulario-post">
        <div class="cabecera-form">
            <p id="tituloCabecera">Crea una nueva publicacion</p>
            <button id="nextButton" class="hide">Siguiente</button>
            <button id="compartir" class="hide">Compartir</button>
        </div>
        <div class="formulario-body" id="body-form">
            <p id="textoInput">Selecciona las fotos o videos aquí</p>
            <form>
                <input type="file" id="postInput">
                <textarea type="text" id="description" class="hide"></textarea>
            </form>
        </div>
        <div id="filters" class="hide">
            <div id="filtros">
                <button data-filters="normal">Original</button>
                <button data-filters="blancoNegro">Blanco y negro</button>
                <button data-filters="desenfoque">Desenfoque</button>
                <button data-filters="sepia">Sepia</button>
                <button data-filters="invertir">Invertir Colores</button>
                <br>
                <label for="saturacion">Saturacion</label>
                <input type="range" name="saturacion" id="saturacion" min="0" max="1000">
                <br>
                <label for="contrast">Contraste</label>
                <input type="range" name="contrast" id="contraste" min="0" max="1000">
            </div>
        </div>
        <div class="imagenDiv" id="imageDiv">
        </div>
    </div>
</body>
</html>