<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form_post.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/profile.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
{{ include('partials/_navigation.html.twig') }}
{% block body %}
{% endblock %}
{{ include('partials/_emoji-modal.html.twig') }}
{{ include('partials/_comment-modal.html.twig') }}
</body>
</html>